*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  
  float: left;
  width: 23.5%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 50%;
    display: block;
  }
}

.card {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  
}

.container {
  margin:0 auto;
  padding: 10 10px;
  
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  margin: 0 auto;

  
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 20%;
}

.button:hover {
  background-color: #555;
<<<<<<< HEAD
=======
}

.team
{
  margin: 0 auto;
  text-align: center;
  
>>>>>>> 8e674be097575de172bb9327f239d1e7a2bc248e
}